{{ define "main" }}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume section-show">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Manojna K P</h4>
                    <p><em>Innovative and creative software developer interested in designing and developing user-centered web
                        and scalable microservices.</em></p>
                    <p>
                    <ul>
                        <li>Karnataka, India</li>
                        <li>manojna.gopher@gmail.com</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Technology</h4>
                    <h5>2020 - 2024</h5>
                    <p><em>National Institute of Technology Karnataka, Surathkal</em></p>
                    <p>National Institute of Technology Karnataka, also known as NITK Surathkal, formerly known as Karnataka Regional Engineering College, is a public technical university at Surathkal, Mangalore.</p>
                </div>
            </div>
        </div>
        <div class="text-center m-4"><a href="/resume/cv.pdf" class="btn-grn">Download CV</a></div>

    </div>
</section><!-- End Resume Section -->
{{ end }}
