<!DOCTYPE html>
<html lang="en">

<head>
    {{- partial "head" . }}
    <meta content="noindex" property="robots">
</head>

<body>

<header id="header" class="header-top">
    <div class="container">

        <h1><a href="/">
        <span class="prompt-prompt"
          >[<span class="prompt-dir">~</span>]</span
        ><span
          ><span class="prompt-command">$&nbsp;<span class="prompt-command">fetch</span>
            <span class="prompt-error">url</span>
        </span></span>
        </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>I'm a passionate <span>software developer</span> seeking fun in life</h2>

        {{ partial "nav" "!" }}

    </div>
</header><!-- End Header -->

<main id="main">
    <section id="notfound" class="notfound section-show">
        <div class="container">
            <h3 class="errmsg">fetch: url: no such file or directory</h3>
            <pre class="f0f">
 ___   ___  ________  ___   ___
|\  \ |\  \|\   __  \|\  \ |\  \
\ \  \\_\  \ \  \|\  \ \  \\_\  \
 \ \______  \ \  \\\  \ \______  \
  \|_____|\  \ \  \\\  \|_____|\  \
         \ \__\ \_______\     \ \__\
          \|__|\|_______|      \|__|

           PAGE NOT FOUND
            </pre>
        </div>
    </section>
</main>

{{- partialCached "footer" . }}

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const url = window.location.pathname.replace('/me/', '~/');
        const cmd = document.querySelector('.prompt-command');
        cmd.innerHTML = cmd.innerHTML.replace("url", url);
        const errmsg = document.querySelector('.errmsg');
        errmsg.innerHTML = errmsg.innerHTML.replace("url", url);
    })
</script>

</body>

</html>
